body{
	background-image:url(../img/fondo.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	height:100vh;
	position:relative;
}
.logo{
	height: 352px;
    margin-top: 60px;
}
.pink{
	height:  10vh;
}
.caja{
	position: absolute;
	bottom: 30px;
	width: 100%;
}
#loginIn{
	color: white;
	background-color: rgba(18, 10, 4, 0.1);
	background: rgba(18, 10, 4, 0.1);
	border: 4px solid;
    font-size: 70px;
    border-radius: 15px;
    width: 100%;
        padding: 15px 0px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#signUp{
	background-image: linear-gradient(-90deg, #20699D, #E6006F);
	border: 3px solid #B005A3 ;
    color:white;
    border: 4px solid #3F0F4A;
    font-size: 70px;
    border-radius: 15px;
    width: 100%;
    padding: 15px 0px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
@media (min-width: 992px)  and (max-width: 1366px) {
	.logo{
		margin-top:10px;
		height:200px;
	}	

}
