body{
	position: relative;
	height: 100vh;

}
#map{
	height:100vh;
	width: 100vw;
}
.menu{
	position: absolute;
    top: 20px;
}
.user{
	width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 40px;

}
#ubicacion{
	position: absolute;
	width:40%;
}
.view{
	font-size: 20px;
    padding: 20px 0px;
}
.num_user{
	font-size: 30px;
}
.cir_user{
	margin-top: 4px;
	width: 50%;
}
.desplegable{
	width: 70%;
}
.pd{
	font-size:18px !important;
   /* height: 120px !important;
    padding: 40px 30px !important;*/
}
.icon{
	font-size: 30px !important;
	color: #FF26A4 !important;
}
#copiaNombre{
	padding-right:10px;
	color: black;
}

.direccion{
  position: absolute;
  bottom: 0px;
  width: 80%;
  left: 16%;
}
#direccion{
  background-color: #C61167;
  text-align: center;
  border-radius: 20px;
  color: white;
}
#destino{
  width: 100%;
  padding: 7px;
  margin-bottom: 3%;
  border-radius: 14px;
}
.none {
  display: none;
}
@media only screen and (max-width : 375px) {
  .direccion{
    width: 88% !important;
    left: 6% !important;
  }
  
  
}
